version: '3.8'

services:
  server:
    build: 
      context: ./apps/server
      dockerfile: Dockerfile
    container_name: komiku-backend
    ports:
      - "5000:5000"
    
    env_file:
      - ./apps/server/.env

    volumes:
      - ./apps/server:/app
      - /app/node_modules

    restart: always